{% extends 'objectif/base1.html '%}

{% block title %} Formulaire {% endblock %}

{% block content %}

    <table border="3"  class="table m-100 table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Tache</th>
                <th>Heure_debut</th>
                <th>Heure_debut</th>
            </tr>
            <tbody>
                 {% for ojt in sessions %}
                    <tr>
                        <td><p> {{ ojt.tache }} </p></td>
                        <td><p> {{ ojt.heure_debut }} </p></td>
                        <td><p> {{ ojt.heure_fin }} </p></td>
                        
                    </tr>
                    
                 {% endfor %}
            </tbody>
        </thead>
    </table>
   

    

{% endblock %}